:root {
  --ultraRed--: #EF798A,
    --pastelPink--: #F7A9A8,
    --midelBluePurple--: #7D82B8,
    --cyberGrape--: #613F75,
    --queenPink--: #E5C3D1
}

body#login,
body#registro {
  height: 100vh;
  background-image: linear-gradient(to right top,
      #72c8f6,
      #67bbff,
      #7aabff,
      #a194ff,
      #cd75f6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .container {
  width: 25%;
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#registro .container {
  width: 50%;
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-group {
  margin: 10px 0;
}

header {
  background: #EF798A;
}

body {
  background: #fff;
}

#postear {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#postear .icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #72c8f6;
  background: #72c8f6;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

#postear .add-btn:hover {
  width: 150px;
}


.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #fff;
}


.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #fff;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

#postear .btn-post:hover{
  transform: scaleX(100px);
  -webkit-transform: scaleX(100px);
  -moz-transform: scaleX(100px);
  -ms-transform: scaleX(100px);
  -o-transform: scaleX(100px);
}

.content__file{
  position: relative;
  display: inline-block;
}
.content__file::before{
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Subir archivos'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#input__file{
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#input__file
  ::before {
    content: 'Seleccionar Archivo 1';
  }
  